УРОК №1 ВВЕДЕНИЕ В ПИТОН И ИНТЕРФЕЙС JUPYTER-NOTEBOOK

Напишите программу, проверяющую стаж работы сотрудника. В переменной worker уже содержится список, содержащий значения как на 3-ем шаге (имя, фамилия, зарплата, стаж).

In [2]:
worker = ['Katya', 'Silyutina', 350000, 5]
user_name = worker[0]
user_family = worker[1]
if worker[3]<2:
    position = 'junior'
elif worker[3]>=2 and worker[3]<=5:
    position = 'middle'
elif worker[3]>5:
    position = 'senior'
status = f'{user_name} {user_family} is {position}'
print(status)

Katya Silyutina is middle

В списке values содержатся числовые значения. Создайте список tens и добавьте в него все числа из values, которые делятся на 10 нацело.

In [3]:
values = [12, 134, 10, 47, 100, 20, 50, 160, 210]

In [4]:
tens = [i for i in values if i%10 == 0] 
print(tens)

[10, 100, 20, 50, 160, 210]

⭐️ Задание со звёздочкой! ⭐️

Реализуйте цикл, который пробегается по уже созданному списку workers со значениями как на 3-ем и 7-ом шагах и выводит для каждого сотрудника следующую строку (то есть печатает её для каждого элемента списка):

In [5]:
workers = [['Ivan', 'Ivanov', 100000, 1], ['Petr', 'Petrov', 150000, 2], ['Sidor', 'Sidorov', 200000, 10]]
for i in workers:
    user_name = i[0]
    user_family = i[1]    
    if i[3]<2:
        position = 'junior'
    elif i[3] and i[3]<=5:
        position = 'middle'
    elif i[3]>5:
        position = 'senior'
    print(f'{user_name} {user_family} is {position}')

Ivan Ivanov is junior
Petr Petrov is middle
Sidor Sidorov is senior

⭐️ Задание со звёздочкой! ⭐️

Поместите в список lst числа от 0 (n = 0) до 10 включительно (N = 10) c шагом 2 (dn = 2). Для этого используйте условие while.

In [6]:
lst = []
n = 0 
while n <11:
    lst.append(n)
    n += 2
print(lst)

[0, 2, 4, 6, 8, 10]

На предыдущих шагах вы сталкивались с различными характеристиками пользователей, которые были сохранены в списках. Теперь попробуем собрать нужную информацию в словарь!

In [7]:
salaries_dict = {'name':'Masha','surname':'Volkova','age':25,'salary':60000,'position':'junior'}
print(salaries_dict)

{'name': 'Masha', 'surname': 'Volkova', 'age': 25, 'salary': 60000, 'position': 'junior'}

Теперь усложним задачу. Создайте словарь, где:

Ключом будет логин пользователя (login)
В качестве значения – словарь с характеристиками (как на предыдущем шаге) для этого пользователя

In [8]:
users_dict = {
    'mvolkova': {'name':'Masha','surname':'Volkova','age':25,'salary': 60000, 'position':'junior'},
    'pvoronov': {'name':'Peter','surname':'Voronov','age':27,'salary': 100000, 'position':'junior'},
    'pparker': {'name':'Peter','surname':'Parker','age':35,'salary': 150000, 'position':'middle'},
    'akarpov': {'name':'Anatoly','surname':'Karpov','age':30,'salary': 250000, 'position':'senior'}
              }
print(users_dict)

{'mvolkova': {'name': 'Masha', 'surname': 'Volkova', 'age': 25, 'salary': 60000, 'position': 'junior'}, 'pvoronov': {'name': 'Peter', 'surname': 'Voronov', 'age': 27, 'salary': 100000, 'position': 'junior'}, 'pparker': {'name': 'Peter', 'surname': 'Parker', 'age': 35, 'salary': 150000, 'position': 'middle'}, 'akarpov': {'name': 'Anatoly', 'surname': 'Karpov', 'age': 30, 'salary': 250000, 'position': 'senior'}}

УРОК №2 ЗНАКОМСТВО С PANDAS

In [9]:
# pickup_dt – период с точностью до часа
# pickup_month – месяц
# borough – район Нью-Йорка, из которого был сделан заказ (5 районов + аэропорт)
# pickups – число поездок за период (час)
# hday – является ли день праздничным/выходным; Y - да,  N - нет
# spd – скорость ветра в милях в час
# vsb – видимость
# temp – температура в градусах Фаренгейта
# dewp – точка росы по Фаренгейту
# slp – давление
# pcp_01 – количество осадков за час
# pcp_06 – количество осадков за 6 часов
# pcp_24 – количество осадков за 24 часа
# sd – глубина снега в дюймах

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [11]:
taxi = pd.read_csv('2_taxi_nyc.csv', sep=',',encoding='cp1251',parse_dates=['pickup_dt','pickup_month'])

C:\Users\Alex\AppData\Local\Temp\ipykernel_13704\1617073478.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  taxi = pd.read_csv('2_taxi_nyc.csv', sep=',',encoding='cp1251',parse_dates=['pickup_dt','pickup_month'])

In [12]:
taxi.shape

(29101, 14)

In [13]:
taxi.head()

,pickup_dt,pickup_month,borough,pickups,hday,spd,vsb,temp,dewp,slp,pcp 01,pcp 06,pcp 24,sd
0,2015-01-01 01:00:00,Jan,Bronx,152,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
1,2015-01-01 01:00:00,Jan,Brooklyn,1519,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
2,2015-01-01 01:00:00,Jan,EWR,0,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
3,2015-01-01 01:00:00,Jan,Manhattan,5258,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
4,2015-01-01 01:00:00,Jan,Queens,405,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0

In [14]:
taxi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29101 entries, 0 to 29100
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   pickup_dt     29101 non-null  datetime64[ns]
 1   pickup_month  29101 non-null  object
 2   borough       26058 non-null  object
 3   pickups       29101 non-null  int64
 4   hday          29101 non-null  object
 5   spd           29101 non-null  float64
 6   vsb           29101 non-null  float64
 7   temp          29101 non-null  float64
 8   dewp          29101 non-null  float64
 9   slp           29101 non-null  float64
 10  pcp 01        29101 non-null  float64
 11  pcp 06        29101 non-null  float64
 12  pcp 24        29101 non-null  float64
 13  sd            29101 non-null  float64
dtypes: datetime64[ns](1), float64(9), int64(1), object(3)
memory usage: 3.1+ MB

In [15]:
taxi.dtypes.value_counts()

float64           9
object            3
datetime64[ns]    1
int64             1
Name: count, dtype: int64

In [16]:
taxi = taxi.rename(columns={'pcp 01':'pcp_01','pcp 06':'pcp_06','pcp 24':'pcp_24'})

In [17]:
taxi.columns

Index(['pickup_dt', 'pickup_month', 'borough', 'pickups', 'hday', 'spd', 'vsb',
       'temp', 'dewp', 'slp', 'pcp_01', 'pcp_06', 'pcp_24', 'sd'],
      dtype='object')

In [18]:
taxi.borough.value_counts()

borough
Bronx            4343
Brooklyn         4343
EWR              4343
Manhattan        4343
Queens           4343
Staten Island    4343
Name: count, dtype: int64

In [19]:
taxi.pickups.sum()

14265773

In [20]:
taxi.pickups.sum()

14265773

In [21]:
taxi.groupby(by='borough')['pickups'].sum().sort_values(ascending=False)

borough
Manhattan        10367841
Brooklyn          2321035
Queens            1343528
Bronx              220047
Staten Island        6957
EWR                   105
Name: pickups, dtype: int64

⭐️Задание со звёздочкой!⭐️

Еще несколько полезных методов в pandas! Возможно, в предыдущем степе вы просто посмотрели на данные или отсортировали значения. Ускорить данный процесс в дальнейшем помогут методы idxmin() и idxmax(), которые возвращают индекс минимального или максимального значения.

idxmin – индекс минимального значения
idxmax – индекс максимального значения
Сохраните название района с наименьшим числом поездок в переменную min_pickups, применив подходящий метод.

In [22]:
min_pickups = taxi.groupby(by='borough')['pickups'].sum().idxmin()
print(min_pickups)

EWR

Продолжим изучение данных и посмотрим на число поездок в выходные дни. Сгруппируйте данные по двум признакам: району города и является ли день выходным (колонки borough и hday). Сравните среднее число поездок, и выберите районы, из которых по праздникам в среднем поступает больше заказов, чем в обычные дни.

In [23]:
taxi.groupby(by=['borough','hday'])['pickups'].mean().sort_values(ascending=False)

borough        hday
Manhattan      N       2401.302921
               Y       2035.928144
Brooklyn       N        534.727969
               Y        527.011976
Queens         Y        320.730539
               N        308.899904
Bronx          N         50.771073
               Y         48.065868
Staten Island  N          1.606082
               Y          1.497006
EWR            Y          0.041916
               N          0.023467
Name: pickups, dtype: float64

Для каждого района посчитайте число поездок по месяцам. Отсортируйте полученные значения по убыванию и сохраните результирующий датафрейм в pickups_by_mon_bor.

Обратите внимание, что итоговый датасет должен состоять из 3-х колонок - pickup_month, borough, pickups.

In [24]:
pickups_by_mon_bor = taxi.groupby(by=['borough','pickup_month'],as_index=False)['pickups'].sum().sort_values(by='pickups',ascending=False)

💀 Сложное задание! 💀

Теперь задача посложнее! Попрактикуемся в написании собственных функций и их применении к датафрейму. Поскольку данные о поездках в Нью-Йорке, температура представлена в градусах Фаренгейта. 

Напишите функцию temp_to_celcius, которая получает на вход колонку с температурой в °F, и возвращает значения, переведенные в градусы Цельсия.

In [25]:
def temp_to_celcius (temp):
    return ((temp-32)*5)/9

In [26]:
temp_to_celcius(taxi.temp)

0        -1.111111
1        -1.111111
2        -1.111111
3        -1.111111
4        -1.111111
           ...
29096    23.888889
29097    23.888889
29098    23.888889
29099    23.888889
29100    23.888889
Name: temp, Length: 29101, dtype: float64

MINIPROJECT (Статистика бронирования отелей)

In [27]:
# Hotel – тип отеля (City Hotel или Resort Hotel)  
# Is canceled – бронирование было отменено (1) или нет (0); не отмененное считается успешным
# Lead time – количество дней, прошедших между датой бронирования и датой прибытия  
# Arrival full date – полная дата прибытия
# Arrival date year – год прибытия  
# Arrival date month – месяц прибытия  
# Arrival date week number – номер недели прибытия
# Arrival date day of month – день прибытия
# Stays in weekend nights – количество выходных (суббота или воскресенье), которые гость забронировал для проживания в отеле
# Stays in week nights – количество дней (с понедельника по пятницу), которые гость забронировал для проживания в отеле
# Stays total nights – общее число забронированных ночей (сумма двух предыдущих колонок)
# Adults – число взрослых
# Children – число детей
# Babies – число младенцев 
# Meal – выбранный тип питания
# Country – страна происхождения клиента
# Reserved room type – тип зарезервированного номера
# Assigned room type – тип полученного номера (может отличаться от забронированного)
# Customer type – тип бронирования
# Reservation status – значение последнего статуса брони: Canceled - было отменено клиентом; Check-Out - клиент зарегистрировался, но уже покинул отель; No-Show - клиент не зарегистрировался и сообщил администрации отеля причину
# Reservation status date – дата обновления статуса

In [28]:
bookings = pd.read_csv('2_bookings.csv',sep=';')

In [29]:
bookings.head(7)

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

In [30]:
bookings.shape

(119390, 21)

In [31]:
bookings.dtypes.value_counts()

object     10
int64      10
float64     1
Name: count, dtype: int64

💀 Сложное задание! 💀

Как вы уже могли заметить, при сборе датасета произошла небольшая ошибка, и названия колонок были записаны в неудобном для дальнейшей работы формате. Исправьте ситуацию, приведя названия столбцов к нижнему регистру и заменив пробелы на знак нижнего подчеркивания. 
Например: Is Canceled -> is_canceled

In [32]:
bookings.columns = bookings.columns.str.lower().str.replace(' ','_')

In [33]:
bookings.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_full_date',
       'arrival_date_year', 'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'stays_total_nights', 'adults', 'children',
       'babies', 'meal', 'country', 'reserved_room_type', 'assigned_room_type',
       'customer_type', 'reservation_status', 'reservation_status_date'],
      dtype='object')

💀 Сложное задание! 💀

Перейдем к исследованию данных! Пользователи из каких стран совершили наибольшее число успешных бронирований? Бронирование считается успешным, если в дальнейшем не было отменено (переменная is_canceled). В качестве ответа выберите страны, входящие в топ-5.

In [34]:
bookings\
    .query('is_canceled == 0')\
    .groupby('country',as_index=False)['is_canceled'].count()\
    .sort_values(by='is_canceled',ascending=False)\
    .head(5)

    country  is_canceled
125     PRT        21071
57      GBR         9676
54      FRA         8481
50      ESP         6391
42      DEU         6069

На сколько ночей (stays_total_nights)  в среднем бронируют отели типа City Hotel? Resort Hotel? Запишите полученные значения в пропуски с точностью до 2 знаков после точки.

In [35]:
bookings\
    .groupby(by=['hotel'],as_index=False)\
    .agg({'stays_total_nights':'mean'})

          hotel  stays_total_nights
0    City Hotel            2.978142
1  Resort Hotel            4.318547

In [36]:
round(2.978142,2)

2.98

Иногда тип номера, присвоенного клиенту (assigned_room_type), отличается от изначально забронированного (reserved_room_type). Такое может произойти, например, по причине овербукинга.

Сколько подобных наблюдений встретилось в датасете?

In [37]:
bookings\
    .query('reserved_room_type != assigned_room_type')\
    .hotel\
    .count()

14917

Теперь проанализируйте даты запланированного прибытия (arrival_date_year).

На какой месяц чаще всего оформляли бронь в 2016 году? Изменился ли самый популярный месяц в 2017?

In [38]:
bookings\
    .query('arrival_date_year == 2017')\
    .groupby('arrival_date_month',as_index=False)\
    .hotel\
    .count()\
    .sort_values(by = 'hotel', ascending=False)

  arrival_date_month  hotel
7                May   6313
0              April   5661
5               June   5647
4               July   5313
6              March   4970
1             August   4925
2           February   4177
3            January   3681

Сгруппируйте данные по годам, а затем проверьте, на какой месяц (arrival_date_month) бронирования отеля типа City Hotel отменялись чаще всего в 2015? 2016? 2017? 

Hint: для этого сначала примените метод groupby, после чего выберите нужную колонку для дальнейших действий :)

In [39]:
bookings\
    .query('is_canceled == 1 and hotel == "City Hotel"')\
    .groupby(['arrival_date_year','arrival_date_month'])\
    .arrival_date_month\
    .count()\

arrival_date_year  arrival_date_month
2015               August                1232
                   December               668
                   July                   939
                   November               301
                   October               1321
                   September             1543
2016               April                 1539
                   August                1247
                   December              1072
                   February               930
                   January                438
                   July                  1043
                   June                  1720
                   March                 1108
                   May                   1436
                   November              1360
                   October               1947
                   September             1567
2017               April                 1926
                   August                1123
                   February               971
                   January               1044
                   July                  1324
                   June                  1808
                   March                 1278
                   May                   2217
Name: arrival_date_month, dtype: int64

Посмотрите на числовые характеристики трёх колонок: adults, children и babies. Какая из них имеет наибольшее среднее значение?

In [40]:
bookings[['adults','children','babies']].mean()

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

Создайте колонку total_kids, объединив столбцы children и babies. Для отелей какого типа среднее значение переменной оказалось наибольшим?

City hotel – отель находится в городе
Resort hotel – отель курортный
В качестве ответа укажите наибольшее среднее total_kids, округлив до 2 знаков после точки.

In [41]:
bookings['total_kids'] = bookings['children'] + bookings['babies']

In [42]:
bookings\
    .groupby('hotel', as_index=False)\
    .agg({'total_kids':'mean'})

          hotel  total_kids
0    City Hotel    0.096311
1  Resort Hotel    0.142586

In [43]:
round(0.142586,2)

0.14

💀 Сложное задание! 💀

Не все бронирования завершились успешно (is_canceled), поэтому можно посчитать, сколько клиентов было потеряно в процессе. Иными словами, посчитать метрику под названием Churn Rate.

Churn rate (отток, коэффициент оттока) – это процент подписчиков (например, на push-уведомления от сайта), которые отписались от канала коммуникации, отказались от услуг сервиса в течение определенного периода времени. Иными словами, представляет собой отношение количества ушедших пользователей к общему количеству пользователей, выраженное в процентах.

В нашем случае Churn Rate - это процент клиентов, которые отменили бронирование. Давайте посмотрим, как эта метрика связана с наличием детей у клиентов!

Создайте колонку has_kids, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка (total_kids), в противном случае – False. Далее проверьте, среди какой группы пользователей показатель оттока выше. 

В качестве ответа укажите наибольший % оттока, округленный до 2 знаков после точки (то есть доля 0.24563 будет 24.56% и в ответ пойдёт 24.56)

In [44]:
bookings['has_kids'] = np.where(bookings['total_kids'] > 0, True, False)

In [45]:
bookings\
    .groupby(by=['has_kids','is_canceled'], as_index=False)\
    .is_canceled\
    .count()

   has_kids  is_canceled
0     False        69093
1     False        40965
2      True         6073
3      True         3259

In [46]:
bookings\
    .query('is_canceled == 1' and 'has_kids == False')\
    .count()\
    .is_canceled

110058

In [48]:
print(round((40965/110058)*100,2)) # процент оттока клиенктов при отсутствии детей
print(round((3259/110058)*100,2)) # процент оттока клиенктов при наличии детей

37.22
2.96